<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227143457906-pcp7mtold1l1u5a9f645fqiue6j0eojk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227143457906-pcp7mtold1l1u5a9f645fqiue6j0eojk</string>
	<key>API_KEY</key>
	<string>AIzaSyAG-Ph8Bg8yI8jqqqxeII9NyCAf0h03dPw</string>
	<key>GCM_SENDER_ID</key>
	<string>227143457906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Olimpia.CTA-6-1ByMe</string>
	<key>PROJECT_ID</key>
	<string>ctatowappsinone</string>
	<key>STORAGE_BUCKET</key>
	<string>ctatowappsinone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227143457906:ios:88d1428546bd829066b6eb</string>
	<key>DATABASE_URL</key>
	<string>https://ctatowappsinone.firebaseio.com</string>
</dict>
</plist>